<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer_info">
        <div class="footer">
            <div class="footer-info">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 col-sm-12">
                            <h4 class="title">Thông Tin <strong> Liên Hệ </strong></h4>
                            <p>No. 01, Nguyen Trai, Hanoi , Vietnam</p>
                            <p>SĐT Liên Hệ : (084) 1900 0000</p>
                            <p>Email : k@leebros.us</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h4 class="title">Chăm Sóc<strong> Khách Hàng</strong></h4>
                            <ul class="support">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Phương thức thanh toán</a></li>
                                <li><a href="#">Thông tin</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4 class="title">Nhận bản tin <strong> chúng tôi </strong></h4>
                            <p>Thông tin các sản phẩm mới, khuyến mãi</p>
                            <form class="newsletter">
                                <input type="text" name="" placeholder="Email của bạn....">
                                <input type="submit" value="Gửi" class="button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright © 2012. Designed by <a href="#">K-Group</a>. All rights reseved</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="social-icon">
                                <li><a href="#" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Optional JavaScript -->
            <div id="stop" class="scrollTop">
                <span><a href=""><i class="fa fa-angle-up"></i></a></span>
            </div>
        </div>
    </div>

</body>
</html>
