<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer_info">
        <div class="footer">
            <!-- ============== Alert Box ============= -->
            <div id="alert" style="opacity: 0; z-index: 0;">
                <span id="closebtn">⊗</span>
            </div>

            <!-- ============== Footer ============= -->
            <div class="copy-right">
                <p><a href="index.html">ShopMobile Store</a> - All rights reserved © 2018 - Designed by
                    <span style="color: #eee; font-weight: bold">K-group</span></p>
            </div></div>

        <!-- Optional JavaScript -->
        <div id="stop" class="scrollTop">
            <span><a href="">Top</a></span>
        </div>
    </div>
</body>
</html>
