* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    display: inline-block;
    background: #f1f1f1;
    width: 100%;
    height: 37px;
    border-bottom: 1px #e1e1e1 solid;
}

.group {
    zoom: 1;
}

.social-top-nav {
    float: left;
    display: table;
}

.social-top-nav a {
    display: table-cell;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    height: 2em;
    width: 2em;
    line-height: 2em;
    color: gray;
    background-color: #f1f1f1;
    transition-duration: .2s;
}

.social-top-nav a:hover {
    color: #fff;
    text-decoration: none;
}

.fa-facebook:hover {
    background: #3B5998;
}

.fa-twitter:hover {
    background: #55ACEE;
}

.fa-google:hover {
    background: #dd4b39;
}

.fa-youtube:hover {
    background: #bb0000;
}

.top-nav-quicklink li a:hover {
    padding-top: 4px;
    border-bottom: 4px solid #000;
    color: #000;
    text-decoration: none;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.social-top-nav {
    float: left;
    display: table;
}

.top-nav-quicklink {
    float: right;
}

.flexContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-nav-quicklink li {
    display: inline-block;
    font-size: 1em;
    color: gray;
}

.top-nav-quicklink li a {
    display: block;
    color: gray;
    padding: 8px 15px;
    transition-duration: .15s;
}

.top-nav-quicklink li a:hover i {
    color: Dodgerblue;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 12;
    background-color: white;
    padding: 15px 0 5px 0;
    /* border-bottom: 3px solid #e1e1e1; */
}

.group {
    zoom: 1;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.header .logo {
    width: 250px;
    height: 60px;
    float: left;
    transition-duration: .1s;
}

.header .logo img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.header .logo:hover {
    transform: scale(1.05);
}

.header .content {
    width: calc(100% - 250px);
    float: left;
}

.search-header {
    float: left;
}

.tools-member {
    float: right;
    display: table;
    margin-left: 10px;
    font-size: 14px;
}

form.input-search {
    margin-left: 20px;
    background: #ddd;
    border: 2px solid #bbb;
    border-radius: 10px;
    height: 35px;
    width: 300px;
}

.autocomplete {
    position: relative;
    height: 100%;
}

.input-search input {
    float: left;
    padding-left: 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: calc(100% - 100px - 20px);
}

.input-search button {
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: #888;
    background: none;
    width: 100px;
    height: 100%;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.input-search button:hover {
    color: #000;
}

.tags {
    margin: 5px 0 0 20px;
    font-size: 13px;
}

.tags a {
    color: gray;
    padding: 0 5px;
}

.tools-member {
    float: right;
    display: table;
    margin-left: 10px;
    font-size: 14px;
}

.member {
    position: relative;
    float: left;
    display: table-cell;
}

.tools-member a {
    position: relative;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #565;
    cursor: pointer;
}

.tools-member .fa-user {
    padding: 10px 12.5px;
}

.member .hide {
    display: none;
}

.member .menuMember a {
    display: block;
    padding: 10px 0;
}

.tools-member i {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cart {
    float: left;
    display: table-cell;
    /* border-left: 1px solid #bbb; */
    margin: 0 15px;
    padding-left: 5px;
}

.tools-member a:hover>i {
    border: 1px solid #fff;
    background-color: rgb(161, 161, 161);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    display: inline-block;
    background: #f1f1f1;
    width: 100%;
    height: 37px;
    border-bottom: 1px #e1e1e1 solid;
}

.group {
    zoom: 1;
}

.social-top-nav {
    float: left;
    display: table;
}

.social-top-nav a {
    display: table-cell;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    height: 2em;
    width: 2em;
    line-height: 2em;
    color: gray;
    background-color: #f1f1f1;
    transition-duration: .2s;
}

.social-top-nav a:hover {
    color: #fff;
    text-decoration: none;
}

.fa-facebook:hover {
    background: #3B5998;
}

.fa-twitter:hover {
    background: #55ACEE;
}

.fa-google:hover {
    background: #dd4b39;
}

.fa-youtube:hover {
    background: #bb0000;
}

.top-nav-quicklink li a:hover {
    padding-top: 4px;
    border-bottom: 4px solid #000;
    color: #000;
    text-decoration: none;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.social-top-nav {
    float: left;
    display: table;
}

.top-nav-quicklink {
    float: right;
}

.flexContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-nav-quicklink li {
    display: inline-block;
    font-size: 1em;
    color: gray;
}

.top-nav-quicklink li a {
    display: block;
    color: gray;
    padding: 8px 15px;
    transition-duration: .15s;
}

.top-nav-quicklink li a:hover i {
    color: Dodgerblue;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 12;
    background-color: white;
    padding: 15px 0 5px 0;
    /* border-bottom: 3px solid #e1e1e1; */
}

.group {
    zoom: 1;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.header .logo {
    width: 250px;
    height: 60px;
    float: left;
    transition-duration: .1s;
    padding-bottom: 8px;
}

.header .logo img {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    margin-left: 20%;
}

.header .logo:hover {
    transform: scale(1.05);
}

.header .content {
    width: calc(100% - 250px);
    float: left;
}

.search-header {
    float: left;
}

.tools-member {
    float: right;
    display: table;
    margin-left: 10px;
    font-size: 14px;
}

form.input-search {
    margin-left: 20px;
    background: #ddd;
    border: 2px solid #bbb;
    border-radius: 10px;
    height: 35px;
    width: 300px;
}

.autocomplete {
    position: relative;
    height: 100%;
}

.input-search input {
    float: left;
    padding-left: 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: calc(100% - 100px - 20px);
}

.input-search button {
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: #888;
    background: none;
    width: 100px;
    height: 100%;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.input-search button:hover {
    color: #000;
}

.tags {
    margin: 5px 0 0 20px;
    font-size: 13px;
}

.tags a {
    color: gray;
    padding: 0 5px;
}

.tools-member {
    float: right;
    display: table;
    margin-left: 10px;
    font-size: 14px;
}

.member {
    position: relative;
    float: left;
    display: table-cell;
}

.tools-member a {
    position: relative;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #565;
    cursor: pointer;
}

.tools-member .fa-user {
    padding: 10px 12.5px;
}

.member .hide {
    display: none;
}

.member .menuMember a {
    display: block;
    padding: 10px 0;
}

.tools-member i {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cart {
    float: left;
    display: table-cell;
    /* border-left: 1px solid #bbb; */
    margin: 0 15px;
    padding-left: 5px;
}

.tools-member a:hover>i {
    border: 1px solid #fff;
    background-color: rgb(161, 161, 161);
    color: #fff;
}

.header1:after {
    content: "";
    display: table;
    clear: both;
}

.header1 {
    border-bottom: 3px solid #f8f5f5;
}

.scrollTop {
    position: fixed;
    right: 2%;
    bottom: 10px;
    background-color: #BE3F48;
    padding: 20px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.scrollTop a {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollTop:hover a {
    text-decoration: none;
}

.cart a:hover {
    text-decoration: none;
}

.plc {
    background: #dae2dc;
    /* overflow: hidden; */
    font-size: 15px;
    color: #333;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.plc ul {
    width: 100%;
}

.plc li {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
    line-height: 20px;
    border-right: solid 1px #bbb;
    margin: 5px 0;
}

.footer {
    position: relative;
    /* height: 40px; */
    width: 100%;
    background: #476;
}

#alert {
    z-index: 200;
    display: block;
    position: fixed;
    bottom: 40px;
    right: 5px;
    padding: 20px;
    background-color: #111;
    opacity: 0;
    color: white;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.copy-right {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #ccc;
    background-color: #252525;
}

.copy-right a {
    color: #ccc;
    transition: .2s ease;
}

.sanPham a .price span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #222;
}